<div class="wrapper">
    <div class="index-heading-wrapper">
        <h1 class='index-heading'>Git</h1>
        <h1 class='index-heading'>Checker</h1>
    </div>

    <div>
        <h3> Find out your friends favourite programming language</h3> 
        <h3> based on their most recently updated Git Hub repositories!</h3>
        <p>All you need is their username!</p>
        <%=link_to 'Try it out!', new_path %>
    </div> 
</div>
