// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Lobster|Source+Sans+Pro&display=swap');


@keyframes graphGrow {
    from {
        width: 0%
    } to {
        width: 100%
    }
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(170, 125, 163, 0.466);
    font-family: 'Source Sans Pro', sans-serif;
}

.index-heading-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;

}

.index-heading{
    font-size: 8rem;
}

// .avatar {
//     width: 50%;
//     height: 50%;
// }

.avatar-style {
    width: 225px;
    height: 225px;
    border-color: rgba(172, 137, 156, 0.548);
    border-style: solid;
    padding: 3px;
    border-width: 5px;
    box-shadow: 2px 2px 40px 2px rgba(221, 221, 213, 0.164);
}

.container-one {
    flex: 1;
    width: 50%;
    border-bottom-color: rgba(172, 137, 156, 0.548);;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-name {
    margin-bottom: 15px;
}

.container-two {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    border-bottom-color: rgba(172, 137, 156, 0.548);;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    padding: 10px;
}

.container-five {
    font-family: 'Lobster', cursive;
    flex: 1;
    width: 50%;
    padding: 10px;
    border-bottom-color: rgba(172, 137, 156, 0.548);
    border-bottom-style: solid;
    border-bottom-width: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.graph-label {
    padding: 10px;
    text-shadow: 4px 7px 20px rgba(180, 175, 175, 0.1);
}

.graph-sub {
    padding: 5px;
}

.form-title {
    margin-bottom: 10px;
}

.error-message{
    margin-top: 10px;
    margin-bottom: 10px;
}
